@use "../variables" as *;

.burger-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 9px;
  @media screen and (min-width: $layout-breakpoint-sm) {
    right: 10px;
  }

  .burger {
    width: 18px;
    height: 1px;
    background-color:$white-color;
    display: none;
    position: relative;
    z-index: 300;
    transition: all .5s;
    @media screen and (min-width: $layout-breakpoint-sm) {
      width: 30px;
      height: 2px;
    }

    &::before, &::after {
      content: '';
      width: 18px;
      height: 1px;
      background-color:$white-color;
      position: absolute;
      top: -7px;
      transition: all .5s;
      @media screen and (min-width: $layout-breakpoint-sm) {
        width: 30px;
        height: 2px;
        top: -10px;
      }
    }

    &::after {
      top: 7px;
      @media screen and (min-width: $layout-breakpoint-sm) {
        top: 10px;
      }
    }

    @media screen and (max-width: $layout-breakpoint-md) {
      display: block;
    }
  }

  &.burger-container_open {
    .burger {
      background-color: transparent;
      position: fixed;
      &::before {
        transform: translate(0, 7px) rotate(-45deg);
        @media screen and (min-width: $layout-breakpoint-sm) {
          transform: translate(0, 10px) rotate(-45deg);
        }
      }
      &::after {
        transform: translate(0, -7px) rotate(45deg);
        @media screen and (min-width: $layout-breakpoint-sm) {
          transform: translate(0, -10px) rotate(45deg);
        }
      }
    }
  }
}

