@use "../variables" as *;

.modal {
  padding: 84px 60px 60px;
  border-radius: 24px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 688px;
  background: $bg-card-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 200;
  transition: opacity 0.3s;
  color: $white-color;
  @media screen and (max-width: $layout-breakpoint-xxl) {
    padding: 84px 30px 30px;
    width: 500px;
  }

  @media screen and (max-width: $layout-breakpoint-sm) {
    padding: 48px 15px 15px;
    border-radius: 12px;
    width: calc(100vw - 80px);
  }

  &__close-container {
    width: 24px;
    position: absolute;
    right: 60px;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    img {
      width: 100%;
    }
    @media screen and (max-width: $layout-breakpoint-xxl) {
      right: 30px;
    }
    @media screen and (max-width: $layout-breakpoint-md) {
      width: 18px;
      right: 15px;
      top: 15px;
    }

    &.rotate {
      transform: rotate(90deg);
    }
  }

  &__title {
    font-family: Involve, sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 12px;
    @media screen and (max-width: $layout-breakpoint-xxl) {
      font-size: 36px;
    }
    @media screen and (max-width: $layout-breakpoint-md) {
      font-size: 30px;
      margin-bottom: 6px;
    }
  }

  &__subtitle {
    font-family: Evolventa, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (max-width: $layout-breakpoint-xxl) {
      font-size: 20px;
    }
    @media screen and (max-width: $layout-breakpoint-md) {
      font-size: 16px;
      margin-bottom: 6px;
    }
  }

  &__image {
    max-width: 100%;
    margin: -60px 0 -24px;
    img {
      width: 100%;
    }
    @media screen and (max-width: $layout-breakpoint-xxl) {
      max-width: 80%;
    }
    @media screen and (max-width: $layout-breakpoint-md) {
      max-width: 250px;
      margin: -30px 0 -10px;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inputs {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $layout-breakpoint-xxl) {
      margin-bottom: 9px;
    }
  }

  &__input {
    margin-bottom: 6px;
  }

  &__btn {
    min-width: 100%;
    @media screen and (max-width: $layout-breakpoint-md) {
      padding: 10px;
    }
  }
}