@font-face {
  font-family: Evolventa;
  src: url("../public/fonts/Evolventa-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Involve;
  src: url("../public/fonts/Involve-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: Involve;
  src: url("../public/fonts/Involve-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: Involve;
  src: url("../public/fonts/Involve-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url("../public/fonts/Inter-Medium.otf");
  font-weight: 500;
}