@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  box-sizing: border-box;

  ::selection {
    background: gray; /* Safari */
  }

  ::-moz-selection {
    background: gray; /* Firefox */
  }
}

a {
  text-decoration: none;
  text-align: center;
}


body {
  font-family: Evolventa, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $white-color;
  background: $bg-color;
  overflow-x: hidden;
}

.container {
  max-width: 1430px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  @media screen and (max-width: $layout-breakpoint-xxl) {
    padding: 0 30px;
  }
}

.blur {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(12, 13, 18, 0.3);
  backdrop-filter: blur(9px);
  z-index: 50;
  transition: all 0.3s;
  cursor: pointer;
  @media screen and (max-width: $layout-breakpoint-md) {
    backdrop-filter: blur(4.5px);
  }

  &.blurring {
    visibility: visible;
    opacity: 1;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: visible;
}

.title {
  font-family: Involve, sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: $white-color;

  span {
    display: block;
    font-size: 120px;
    font-family: Involve, sans-serif;
    color: $white-color;
    line-height: 1;
    font-weight: 500;
  }

  @media screen and (max-width: $layout-breakpoint-xxl) {
    font-size: 56px;
    span {
      font-size: 100px;
    }
  }
  @media screen and (max-width: $layout-breakpoint-xl) {
    font-size: 46px;
    span {
      font-size: 90px;
    }
  }
  @media screen and (max-width: $layout-breakpoint-lg) {
    font-size: 40px;
    span {
      font-size: 60px;
    }
  }
  @media screen and (max-width: $layout-breakpoint-md) {
    font-size: 36px;
    span {
      font-size: 52px;
    }
  }
  @media screen and (max-width: $layout-breakpoint-xxsm) {
    font-size: 32px;
    span {
      font-size: 40px;
    }
  }
}

.subtitle {
  font-family: Evolventa, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
  color: $white-color;
  letter-spacing: 0.02em;
  @media screen and (max-width: $layout-breakpoint-sm) {
    font-size: 20px;
  }
  @media screen and (max-width: $layout-breakpoint-xsm) {
    font-size: 16px;
  }
  @media screen and (max-width: $layout-breakpoint-xxsm) {
    font-size: 14px;
  }

  span {
    color: $main-color;
  }
}

.invalid-feedback {
  width: 100%;
  text-align: center;
  color: $main-color;
  font-family: Evolventa, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  display: none;
}

.invalid + .invalid-feedback {
  display: block;
}

.gradient-text {
  background-color: $dark-main-color;
  background-image: linear-gradient(90deg, $main-color 0%, $icons-color 44%, $active-color 100%);
  background-size: 100%;
  background-repeat: repeat;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
