$white-color: #FFFFFF;
$bg-color: #0C0D12;
$bg-card-color: #161524;
$bg-input-color: #1B1A2C;
$main-color: #F706A3;
$active-color: #81F3F8;
$dark-main-color: #CA0078;
$icons-color: #5A73EF;


$layout-breakpoint-xxsm: 359px;
$layout-breakpoint-xsm: 430px;
$layout-breakpoint-sm: 575px;
$layout-breakpoint-md: 767px;
$layout-breakpoint-lg: 991px;
$layout-breakpoint-xl: 1199px;
$layout-breakpoint-xxl: 1400px;