- var menuLinks = [{name: 'Главная', link: '#'}, {name: 'Преимущества', link: '#advantages'}]

header.header
    .header__container.container
        .header__logo
            a(href="#")

        nav.header__menu.menu#menu
            ul.menu__list
                each link in menuLinks
                    li.menu__item
                        a.menu__link(href=link.link) #{link.name}

            .header__actions
                button.header__btn.btn.btn_transparent.btn_openModal Получить доступ

        .burger-container#burger-container
            .burger