section.main
    .main__container.container
        .main__info
            h1.main__title.title
                span.gradient-text Нейросеть
                | может всё!
            p.main__subtitle.subtitle Мы уже живем в этой удивительной реальности
            .main__actions
                button.main__btn.btn.btn_openModal Погрузиться в новый мир
        .main__image
            img(src="public/images/main_image.webp", alt="Главная картинка")

