extends base

block content
    .blur

    include components/loader
    include components/modal

    include components/header
    include components/main
    include components/advantages


    script(src="js/script.min.js")